{%- doc -%}
  Clean add to cart button for product cards.
{%- enddoc -%}

{%- liquid
  assign default_add_to_cart_text = 'actions.add_to_cart' | t
-%}

<button
  {% if id != blank %}
    id="{{ id }}"
  {% endif %}
  type="submit"
  name="add"
  class="button {{ class }} add-to-cart-button-clean"
  {% if data_testid %}
    data-testid="{{ data_testid }}"
  {% endif %}
  {% unless can_add_to_cart %}
    disabled
  {% endunless %}
>
  {{- add_to_cart_text | default: default_add_to_cart_text -}}
</button>